* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Halvetica, sans-serif;
}

.page-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

/*Sidebar Styling*/

.sidebar {
    background-color: #1a92d3;
    padding: 1rem;
    font-weight: bold;
}

.sidebar-item-container {
    list-style: none;
}

.sidebar-item {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: 50px 1fr;
    margin-bottom: 0.75rem;
}

.sidebar-link {
    text-decoration: none;
}

.sidebar-item,
.sidebar-link:link,
.sidebar-link:visited {
    color: white;
}

.icon {
    justify-self: center;
}

.sidebar-margin-after {
    margin-bottom: 3rem;
}

#logo {
    font-size: 2rem;
}

#title-link {
    font-size: 1.5rem;
}

.icon {
    font-size: 1.2rem;
}

.sidebar-link {
    font-size: 1.2rem;
}

/*Right container styling*/

.right-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1rem 3rem 0.25rem;
    gap: 1rem;
    min-width: 800px;
    position: relative;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 10px -5px;
}

.header-top,
.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    font-size: 1rem;
}

.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

input[type="search"],
button {
    width: 100%;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #e2e8f0;
    padding: 0.3rem;
}

.top-right-header {
    display: grid;
    grid-template-columns: auto auto minmax(120px, 1fr);
    align-items: center;
    margin-left: auto;
    font-weight: bold;
}

.top-right-header > i {
    font-size: 1.5rem;
}

.header-top,
.top-right-header {
    gap: 2rem;
}

.mini-avatar {
    width: 40px;
    border-radius: 50%;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.main-avatar {
    width: 60px;
    border-radius: 50%;
}

.welcome-text {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.username-handle {
    font-size: 1.25rem;
}

.header-bottom-right {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1.5rem;
}

button {
    background-color: #1a92d3;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}

.main-container {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";
    gap: 1.5rem;
    padding: 1.5rem;
}

.projects-container {
    grid-area: projects;
    background-color: white;
    /*TODO: Remove BGC*/
}

.announcements-container {
    grid-area: announcements;
    background-color: white;
    /*TODO: Remove BGC*/
}

.trending-container {
    grid-area: trending;
    background-color: white;
    /*TODO: Remove BGC*/
}